#npm
npm-debug.log
node_modules/*
!node_modules/app

#npm
.npmignore
.DS_Store

#html5boilerplate
.htaccess

#testing
js/coverage

#nodemon
.rebooted

#sass
.sass-cache

#files folder for local testing
files/*
upload/*
scripts/*

#asp stuff
Views/*

#private
public/